.container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15% 1fr 20%;
}

.header {
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(205, 205, 205);
}

.main {
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    background: rgb(252, 252, 223);
}

.info {
    flex-grow: 1;
    box-sizing: border-box;
}

.info > p {
    padding-top: 20px;
}

.upper {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 100%;
}

.add {
    display: flex;
    align-content: space-between;
    box-sizing: border-box;
    background: rgb(242, 235, 178);
}

.add_upper {
    box-sizing: border-box;
    width: 48%;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_down {
    box-sizing: border-box;
    height: 80px;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    grid-column: 3/4;
    grid-row: 2/3; 
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: rgb(228, 247, 217);
}

.sidebar > p {
    padding-top: 25px;
}

.footer {
    grid-column: 1/4;
    grid-row: 3/4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(205, 205, 205);
}

.section {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 23%;
    height: 70%;
    background: rgb(237, 235, 235);
}

p {
    font-weight: bold;
    font-family: sans-serif;
}